<%content_for :head do%>
	<%=stylesheet_link_tag "carrinho"%>
<%end%>
 <div id="Boxcenter">
		<%=render :file => "/layouts/_top.html.erb"%>
		<div id="Midboxfoto">
        	
       </div>    
      <img src="/images/tit_meucarrinho.png" width="541" height="43"/>   
	<div id="Bottomboxfotos">
		<p style="text-align:center;">
			Confira os itens do seu carrinho.
		</p>
        <table width="547" border="0" id="Tabelaviagem">
          <tr height="30">
            <td width="176" class="celwhitegray" style="font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#8e005c;">PACOTE</td>
            <td width="198" class="celwhitegray" style="font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#666;">VALOR R$</td>
            <td width="78" class="celgray" style="font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#666;">EXCLUIR</td>
          </tr>
        <%@cart.each do |c|%>
  		<%q = Quote.find(c.quote_id)%>
		<tr height="30">
            <td class="celwhite"><%=q.nome%></td>
            <td class="celwhite"><%q.valor.to_s%></td>
            <td class="celwhitegray"><%=link_to image_tag("img_x.png"), excluir_carrinho_item_path(q)%></td>
          </tr>
		<%end%>
       </table>
         </div>
		<div id="Form">
			<%form_for (Transaction.new) do |f|%>  
			<div id="EmailNome">
				<%=f.label :Nome %>
				<%=f.text_field :nome %><br>
				<%=f.label :Email %>
				<%=f.text_field :email %><br>
			</div>
			
		</div>		
  		<div id="Tabbottom">
            <%=image_submit_tag("btn_finalizarcompra.png", :style => "margin:10px 21px 0 0;")%>
			<br />
        	<a href="javascript:history.go(-1);"><img src="/images/btn_voltar.png" width="69" height="17"  style="margin:10px 21px 0 0;" /></a>
            </div>
			<%end%>
        </div>