<% form_for (@user, :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
  	<h1>Dados de Acesso</h1>
	<p>
		<%= f.label :Usuário %><br />
		<%= f.text_field :username %>
	</p>
	<br />
	<p>
		<%= f.label "E-mail" %><br />
		<%= f.text_field :email %>
	</p>
	<br />
	<p>
		<%= f.label :Senha %><br />
		<%= f.password_field :password %>
	</p>
	<br />
	<p>
		<%= f.label :confirmar_senha %><br />
		<%= f.password_field :password_confirmation %>
	</p>
	<br />
	<h1>Sobre o casal</h1>	
	<p>
	    <%= f.label :foto_do_casal %><br />
	    <%= f.file_field :avatar %>
	</p>
	<br />
	<p>
	    <%= f.label :nome_noivo %><br />
	    <%= f.text_field :nome_noivo %>
	</p>
	<br />
	<p>
	    <%= f.label :nome_noiva %><br />
	    <%= f.text_field :nome_noiva %>
	</p>
	<br />
	<p>
	    <%= f.label :historia_do_casal %><br />
	    <%= f.text_area :historia, :class => "mceEditor" %>
	</p>
	<br />
  <p><%= f.submit %></p>
<% end %>

