<%content_for :head do%>
	<%=stylesheet_link_tag "home"%>
<%end%>

 <div id="Boxcenter">
            <%=render :file => "/layouts/_top.html.erb"%>    
           
			<div id="Midboxc">
				<img src="images/tit_nossahistoria.png" width="540" height="31" /><br /><br />
				<div style="margin:auto; width:535px;">
				<%if current_user%>
					<%=link_to image_tag("icons/editar.png") + "Editar Profile", edit_user_path(:current)%>
				<%end%>
				<%=@user.historia%>
				</div>
			</div>
			<div id="Bottomboxc">	
            	<img src="images/tit_deixesuamensagem.png"/><br /><br />
				<% form_for @user.scrapbooks.build do |f| %>
					<p style="height:auto; margin:0 0 0 0;font:Verdana, Geneva, sans-serif;color:#ac4280;">
						<%= f.label :de %><br />
						<%= f.text_field :from, :value => "Nome Completo", :style => "width:125px;height:21px; border:#ffdaf7 solid 1px; padding:0 0 0 3px", :onblur=> "if(this.value == '') { this.value='Nome Completo'}", :onfocus=> "if (this.value == 'Nome Completo') {this.value=''}"%>
						<br />
						
						<%= f.label :mensagem %>
						<%= f.text_area :mensagem, :value=> "Insira aqui sua mensagem...", :style =>"width:528px;height:95px; margin:0 0 0px 0; border:#ffdaf7 solid 1px; padding:0 0 0 3px;", :onblur=> "if(this.value == '') { this.value='Insira aqui sua mensagem...'}", :onfocus=> "if (this.value == 'Insira aqui sua mensagem...') {this.value=''}" %>

		            </p>  
				  <p style="text-align:right;">
					<%=image_submit_tag "btn_enviarmensagem.png", :style => "width:149px; margin:13px 25px 20px 0;"  %>
				</p>
				<% end %>
            </div>		
</div>		