<%content_for :head do%>
	<%=stylesheet_link_tag "listapresentes"%>
<%end%>

<div id="Boxcenter">
    <%=render :file => "/layouts/_top.html.erb"%>
    <div id="Midboxlista">
    <%= image_tag("tit_listadepresentesinterna.png")%>
    </div>
	<div id="Bottomboxlista">
    <div id="Box_listapresentestexto">
		<br />
        <p>Como já possuímos todos os apetrechos necessários , desnecessários, úteis, inúteis e um monte de outras coisas que a gente compra mais que nunca vai usar! Então vem a pergunta? O que dar de presente de casamento para esse casal??</p><br />
		<p>Então preparamos uma opção bem prática para quem desejar nos presentear pelo casamento. São as chamadas cotas de lua de mel.</p><br />
		<p>Vamos aterrissar no mundo encantado de Walt Disney World em Orlando para brindar esse dia tão especial!</p><br />
		<p>Serão diversos parques para visitarmos, montanhas-russas para gritarmos, shows para nos divertirmos, um mergulho com os golfinhos e, claro, muitas fotos para dividirmos essa alegria com vocês.</p><br />
		<p>Mas como funciona essas cotas de lua de mel?</p><br />
		<p>Como uma lista de presentes, amigos, familiares compram cotas da nossa viagem como presente de casamento.</p><br />
		<p>Veja como é fácil, escolha as cotas e depois clique em comprar, logo em seguida você preenche um cadastro no PAG SEGURO UOL*. Você poderá efetuar o pagamento por depósito, boleto ou cartão de crédito, tudo muito fácil.</p><br />
		<p>Em tempo a página do PAG SEGURO UOL é criptografada e possui a mesma segurança utilizada em sites bancários, e para contribuir com o sucesso da nossa empreitada por favor informe todos os seus dados, para que possamos enviar os nossos agradecimentos.</p><br />
		<br /><br />                
        
    </div>
    <div id="Box_listapresentes">
		<%if current_user%>
			<%=link_to image_tag("icons/editar.png") + "Editar Pacotes", packages_path%>
		<%end%>
		<%@packages_box.each do |p|%>
        <div id="Aba_compra"style="cursor:pointer;" onclick="mostra_cota(<%=p.id%>)">
            <div id="Titulo_compra"><h1><%=p.nome%></h1></div>
                <div id="Lista_compra<%=p.id%>" class="hide">
					<%
					p.quotes.all(:conditions => ['indisponivel = 0']).each do |q|
					%>
                    <div id="Item_compra">
                        <table width="540" class="Tabelaitem">
                          <tr>
                            <td width="336"><p class="Textoitem1"><%=q.nome%></p></td>
                            <td width="119"><p class="Textoitem1"> <%= number_to_currency(q.valor)%></p></td>
                            <td width="59"><%=link_to image_tag("btn_comprar.png", :style =>"margin:3px auto"), adicionar_carrinho_item_path(q)%></td>
                          </tr>
                          <tr>
                            <td colspan=3><p class="Textoitem2"><%=q.descricao%></p></td>
                          </tr>
                        </table>
        
                    </div>
					<%
					end
					%>
                </div>
            </div>
    	<%end%>
        </div>
    </div>
</div>