<div id="Boxcenter">
	<div id="PopPacotes" style="display:none;"></div>

		<%@packages_box.each do |p|%>
	<div id="Boxviagem" style="cursor:pointer;" onclick="mostra_cota(<%=p.id%>)">
		<h1 class="Titulo"><%=p.nome%></h1>
	</div>	
	<div id="Cotas<%=p.id%>" class="hide">
		<%
		p.quotes.all(:conditions => ['indisponivel = 0']).each do |q|
		%>
				<div class="Boxpacotes">
				<h1 class="Titulo4" style="cursor:help;" title="<b><%=q.nome%></b> <br><%=q.descricao%>"><%=truncate(q.nome, 10, "...")%></h1>
				<h1 class="Titulo5">R$ <%=q.valor%></h1>
				<%=link_to image_tag("trans.gif", :class =>"botao_carrinho_pacote"), "javascript:adiciona_carrinho(#{q.id});"%>
			</div>
	        <%
			end
			%>
			<br>
	</div>
		<%end%>

        </div>