<%content_for :head do%>
	<%=stylesheet_link_tag "foto"%>
<%end%>

<div id="Boxcenter">
    <%=render :file => "/layouts/_top.html.erb"%>
    <div id="Midboxfoto">
		<%= image_tag("tit_fotos.png", :style =>"margin:0 0 10px 0;")%>
	</div>
    <div id="Bottomboxfotos">
    <div id="Boxlistafotos">
		<%
		@albums.each do |a|
		@fotos = Foto.all(:conditions => ['album_id = ?', a.id], :limit => 1)
		%>
		<div id="Boxfoto">
            <div id="Box_fotolista">
				<%
				@fotos.each do |f|
				%>
				<%=image_tag(f.image.url("pequena"))%>
				<%end%>
				<!-- <img src="images/img_fotoexemplo.jpg"/> -->
			</div>
         	<div id="Box_textolista">
			<p>
			<%if current_user%>
				<%=link_to image_tag("icons/excluir.png"), a, :confirm => 'Confirme a exclusão do album.', :method => :delete%> | 
			<%end%>
			<b><%=link_to a.titulo, album_path(a)%></b><br />
			<%=a.descricao%>
            </p>
            </div>
        </div>
		<%end%>
		<%if current_user%>
			<%=link_to image_tag("icons/adicionar.png") + "adicionar novo album", new_album_path%>
		<%end%>
        <div id="Box_paginas">
        	<div id="Pagina_top"><img src="images/tit_paginas.png" style="margin:5px auto;"></div>
			<%= will_paginate @albums, options ={:prev_label => "<", :next_label => ">"} %>
      	</div>
    </div>
    </div>
</div>

