<%content_for :head do%>
	<%=stylesheet_link_tag "foto"%>
<%end%>

<div id="Boxcenter">
        <%=render :file => "/layouts/_top.html.erb"%>
        <div id="Midboxfoto">
        <%= image_tag("tit_fotos.png", :style =>"margin:0 0 10px 0;")%>
        </div>
            <div id="Bottomboxfotos">
            
            <div id="Boxlistafotos">
                
                <% form_for @album do |f| %>
				  	<h1>Novo Album</h1>
					<p>
						<%= f.label :titulo %><br />
						<%= f.text_field :titulo %>
					</p>
					<p>
						<%= f.label :descricao %><br />
						<%= f.text_area :descricao %>
					</p>

				  <p><%= f.submit %></p>
				<% end %>
            </div>
            </div>
        </div>