<%content_for :head do%>
<%= stylesheet_link_tag "foto_int"%>
<%= stylesheet_link_tag "skin"%>
<%= javascript_include_tag "jquery/jquery" %>
<%= javascript_include_tag "jquery/jquery.tools.min.js" %>
<%= javascript_include_tag "jquery.jcarousel.min.js" %>

	<script>
	function carrega_foto(id_foto)
	{
		$.ajax({
			type:     "GET",
			dataType: "html",
			url:      "/fotos/ajax",
			data:     "id_foto="+ id_foto,
			success: function(msg){
				$("#Boxlistafotos").html(msg);
			}
		});
	}
	
	function remove_foto(id_remover)
	{
		$.ajax({
			type:     "GET",
			dataType: "html",
			url:      "/fotos/remover",
			data:     "id_foto="+ id_remover,
			success: function(msg){
				//alert(msg);
				//$("#Boxlistafotos").html("");
				window.location.reload();
			}
		});

	}
	
	jQuery(document).ready(function() {
	    jQuery('#mycarousel').jcarousel({
	        // Configuration goes here
	    });
	});
	</script>
<%end%>
<div id="Boxcenter">
    <%=render :file => "/layouts/_top.html.erb"%>
	<%if current_user%>
  	<%=link_to image_tag("icons/adicionar.png") + "adicionar foto", new_album_foto_path(@album)%>
    <%end%>
	<%if !@fotos.blank?%>
    <div id="Midboxfoto">
	    <div class="Tit_edit"><h1><%=@album.titulo%></h1></div>
    </div>
          <div id="Bottomboxfotos">
            <div id="Boxlistafotos">
             
            </div>
            <div id="Back_jquery">
      			<div id="Box_jquery">
                        <div id="Img_jquery">
							<ul id="mycarousel" class="jcarousel-skin-tango">
							<%
							counter = 1
							@fotos.each do |f|
							%>
								<li class="jcarousel-item-<%=counter%>"><a href="javascript:void(0);" onclick="carrega_foto(<%=f.id%>)"><%=image_tag(f.image.url("thumb"))%></a></li>
							<%
							counter = counter + 1
							end
							%>
							</ul>
                        </div>
                </div>
            </div>
          </div>
		  <%end%>	
</div>
