<%content_for :head do%>
	<%=stylesheet_link_tag "lista_hoteis"%>
<%end%>

<div id="Boxcenter">
           <%=render :file => "/layouts/_top.html.erb"%>
            <div id="Bottomboxchoteis">
            	<span class="Titlista"><%= image_tag("tit_listahoteis.png")%></span>
				<%if current_user%>
					<%=link_to "+ adicionar novo", new_hotel_path%>
                <%end%>

				<%@hotels.each do |h|%>
				<div id="Boxlista">
                    <p>
						<%if current_user%>
							<%=link_to image_tag("icons/excluir.png"), h, :confirm => 'Confirme a exclusão do hotel.', :method => :delete%> 
						<%end%>
						<b><%=h.nome%></b> | Tel: <%=h.telefone%> | End.: <%=link_to h.site, h.site, :target => "_blank"%> 
					</p>
                </div>
				<%end%>
            </div>
        </div>