<%content_for :head do%>
	<%=stylesheet_link_tag "foto"%>
<%end%>
<div id="Boxcenter">
	<%=render :file => "/layouts/_top.html.erb"%>
	
	<div id="Midboxfoto">
		<%= image_tag("tit_fotos.png", :style =>"margin:0 0 10px 0;")%>
	</div>
	
	<div id="Bottomboxfotos">

		<div id="Boxlistafotos">

		<% form_for ([@album, @foto], :html => { :multipart => :true }) do |f| %>
		<h1>Fazer upload de foto</h1>
		<p>
		<%= f.label :legenda %><br />
		<%= f.text_field :legenda %>
		</p>
		<p>
		<%= f.label :image %><br />
		<%= f.file_field :image %>
		</p>
		<p><%= f.submit %></p>
		<% end %>
		</div>
	</div>
</div>