<div class="Box_laterais">
 	<%= image_tag("tit_cerimonia.png")%>
    <div class="Back_box">
     <div class="Text_box">
         <p><p>Dia: <%=@info.data_cerimonia.to_date.strftime("%d/%m/%Y")%></p>
            <p>Horário: <%=@info.data_cerimonia.to_time.strftime("%H:%M:%S")%></p>
            <p>Local: <%=@info.local_cerimonia%></p>
			<%if current_user%>
				<%=link_to image_tag("icons/editar.png") + "editar", edit_info_path(@info)%>
			<%end%>
            <p><%=link_to image_tag("btn_leiamais.png", :align=>"right", :style=>" margin:-3px auto"), cerimonias_path%></p>
			<br />
     </div>
    </div>
</div>