<div id="Boxright">

	<%@packages_box.each do |p|%>
<div id="Boxviagem" style="cursor:pointer;" onclick="mostra_cota(<%=p.id%>)">
	<h1 class="Titulo"><%=p.nome%></h1>
</div>	
<div id="Cotas<%=p.id%>" class="hide">
	<%
	counter = 1
	p.quotes.all.each do |q|
	%>
		<div class="Boxpacotes">
			<h1 class="Titulo4"><%=truncate(q.nome, 10, "...")%></h1>
			<h1 class="Titulo5">R$ <%=q.valor%></h1>
			<%=link_to image_tag("trans.gif", :class =>"botao_carrinho_pacote"), "javascript:adiciona_carrinho(#{q.id});"%>
		</div>
        <%
		counter = counter + 1
		end
		%>
		<br>
</div>
	<%end%>

	<img src="/images/img_meucarrinho.png" width="153" height="39" style="display:block; text-align:center; margin:auto; padding:30px 0 0 0;" />

	<div id="ajaxCarrinho">
		<%@cart.each do |c|%>
		<%q = Quote.find(c.quote_id)%>
		<div class="Boxmeucarrinho">
			<h1 class="Titulo6"><%=q.nome%></h1>
			<h1 class="Titulo5">R$ <%=q.valor.to_s%></h1>
			<%=link_to image_tag("trans.gif", :class =>"botao_carrinho_pacote"), "javascript:remove_carrinho(#{q.id});"%>
		</div>
		<%end%>
	
	
	<%if @cart.blank?%>
    	<div id="Boxnaohaitems">
			<h1 class="Titulo5" style="margin:0px 0 0 18px;">Não há items</h1>
		</div>
	<%end%>
	</div>
	<div id="Boxnaohaitems">
		<h1 class="Titulo5" style="margin:0px 0 0 18px;"><%=link_to "Finalizar Pedido", carrinho_path%></h1>
	</div>
</div>