<div class="Box_laterais">
 	<%= image_tag("tit_recepcao.png")%>
    <div class="Back_box">
     <div class="Text_box">
       <p><p>Dia: <%=@info.data_festa.to_date.strftime("%d/%m/%Y")%></p>
            <p>Horário: <%=@info.data_festa.to_time.strftime("%H:%M:%S")%></p>
            <p><%=@info.local_festa%></p>
            <p><%=link_to image_tag("btn_leiamais.png", :align=>"right", :style=>" margin:-3px auto"), recepcao_path%><br /></p></p>
			<%if current_user%>
				<%=link_to image_tag("icons/editar.png") + "editar", edit_info_path(@info)%>
			<%end%>
     </div>
    </div>
</div> 