<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hanemon</title>
<%=stylesheet_link_tag "estilo"%>
<%= javascript_include_tag "jquery/jquery" %>
<%= javascript_include_tag "jquery/jquery.tools.min.js" %>
<%=javascript_include_tag "funcoes"%>

<%=yield :head%>
</head>
<body>
<div id="General">
	<div id="Header">
		<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#960062; text-align:right; margin:20px 0 0 20px;">
		<%if current_user %>
			<%=link_to "Editar Pacotes", packages_path%> | 
 			<%=link_to image_tag("icons/editar.png") + "Editar Profile", edit_user_path(:current)%> |
			<%=link_to "Logout", logout_path%>
		<%else%>
			<%=link_to "Login", login_path%>
		<%end%>
		</p>
	</div>
    <div id="Content">
    	<div id="Boxleft">
        	<div id="Photo"><%=link_to image_tag(@user.avatar.url("home"), :style => "margin-bottom:10px;"), root_path%></div>
			<h1 class="Titulo2">Faltam</h1>
			<div id="Boxfaltamdias"><h1 class="Titulo">180</h1></div>
          
			<!-- INICIO BOX RIGHT -->
          	<%=render :file => "/layouts/_cerimonia.html.erb"%>

			<%=render :file => "/layouts/_festa.html.erb"%>
            
           	<%=render :file => "/layouts/_hotel.html.erb"%>
			
			<%=render :file => "/layouts/_salao.html.erb"%>
		</div>
		
            <%=yield%>
          	
			<%=render :file => "/layouts/_cotas.html.erb"%>
  </div>
    <div id="Footer"></div>
</div>
</body>
</html>
