<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hanemon</title>
<%=stylesheet_link_tag "estilo"%>
<%= javascript_include_tag "jquery/jquery" %>
<%= javascript_include_tag "jquery/jquery.tools.min.js" %>
<%=javascript_include_tag "funcoes"%>

<%=yield :head%>
</head>
<body>
<div id="General">
	<div id="Header">
		<%if current_user %>
			<%=image_tag("tit_olaheadernomes.png")%>
			<%=link_to image_tag("btn_efetuarlogin.png", :align=>"right"), logout_path%>
		<%else%>
			<%=link_to image_tag("btn_efetuarlogin.png", :align=>"right"), login_path%>
		<%end%>
	</div>
    <div id="Content">
    	<div id="Boxleft">
        	<div id="Photo">
				<%=link_to image_tag(@user.avatar.url("home"), :style => "margin-bottom:10px;"), root_path%>
			</div>
			<h1 class="Titulo2">Faltam</h1>
			<div id="Boxfaltamdias"><h1 class="Titulo"><%= "#{((((@info.data_cerimonia - Time.now).abs)/60)/1440).round} dias" %></h1></div>
            <div class="Box_laterais">
            	<%= image_tag("tit_listadepresentes.png")%>
               <div class="Back_box">
                <div class="Text_box">
                  <p>Click aqui e veja as opções de presentes<p><%=link_to image_tag("btn_leiamais.png", :align=>"right", :style=>" margin:-3px auto"),lista_path%><br /></p></p>
                </div>
               </div>
            </div>
            <div class="Box_laterais">
            	<%= image_tag("tit_galeriadefotos.png")%>
               <div class="Back_box">
                <div class="Text_box">
                  <p>Click e veja nossas fotos<p><%=link_to image_tag("btn_leiamais.png", :align=>"right", :style=>" margin:-3px auto"), albums_path%><br /></p></p>
                </div>
               </div>
            </div>      
            <div class="Box_laterais">
            	<%= image_tag("tit_vermensagens.png")%>
               <div class="Back_box">
                <div class="Text_box">
                  <p>Veja nosso mural de mensagens<p><%=link_to image_tag("btn_leiamais.png", :align=>"right", :style=>" margin:-3px auto"), mensagens_path%><br /></p></p>
                </div>
               </div>
            </div>                     
		</div>

        <%=yield%>

			<!-- INICIO BOX RIGHT -->
		<div id="Boxright">
			
          	<%=render :file => "/layouts/_cerimonia.html.erb"%>

			<%=render :file => "/layouts/_festa.html.erb"%>

           	<%=render :file => "/layouts/_hotel.html.erb"%>

			<%=render :file => "/layouts/_salao.html.erb"%>
			
			<%=render :file => "/layouts/_cotas.html.erb"%>
			
		</div>
  </div>
		
  </div>
  <div id="Footer"><%=link_to image_tag("img_logokorewa.png", :align=>"right", :style=>"margin:3px 30px auto"), "http://www.korewa.com.br"%></div>

</body>
</html>
